*.pyc
data/*
.idea/*
.idea/.*
.ipynb_checkpoints/*
HDRS_imputation/*.txt
HDRS_imputation/figs
HDRS_prediction/*.txt
HDRS_prediction/figs
HDRS_prediction/figs/*
HDRS_prediction/results
HDRS_prediction/results/*
HDRS_prediction/LSTM
HDRS_prediction/LSTM/*
HDRS_prediction/LSTM_no_imputation
HDRS_prediction/LSTM_no_imputation/*
HDRS_prediction/legacy results/
HDRS_prediction/legacy results/*
HDRS_prediction/results_with_eda_all/
HDRS_prediction/results_with_eda_all/*
